* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial Rounded MT Bold', 'Helvetica Neue', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
    margin: 0;
    min-height: 100vh;
    background-image: url('skibiditoylet.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    backdrop-filter: blur(8px);
}

a{
    display: block;
    margin-top: 25px;      /* Menurunkan posisi teks ke bawah */
    margin-bottom: 10px;   /* Memberi jarak seimbang dengan dasar kartu */
    text-decoration: none;
}

/* Card UI McD */
.card {
    position: relative;
    z-index: 2;
    background: #FFFFFF;
    width: 340px;
    padding: 35px 25px;
    border-radius: 24px;
    text-align: center;
    box-shadow: 100px 100px 100px rgba(0, 0, 0, 0.3);
    opacity: 1;
}

.logo {
    font-family: 'Arial', sans-serif;
    font-size: 3.5rem;
    font-weight: 900;
    color: #FFC72C; /* Kuning McD */
    line-height: 1;
    margin-bottom: 5px;
}

h2 {
    color: #27251F;
    font-size: 1.1rem;
    letter-spacing: 2px;
}

.subtitle {
    font-size: 0.75rem;
    color: #707070;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

.time {
    font-size: 0.8rem;
    color: #505050;
    background-color: #F8F8F8;
    padding: 8px 12px;
    border-radius: 20px;
    display: inline-block;
    margin-bottom: 20px;
}

.slot-container {
    background-color: #ffbf00e5;
    border: 2px dashed #FFC72C;
    border-radius: 16px;
    padding: 20px 10px;
    box-shadow: #27251F;
}

.slot-label {
    font-size: 0.85rem;
    color: #27251F;
    font-weight: bold;
    text-transform: uppercase;
}

.slot-box {
    font-size: 4rem;
    font-weight: 800;
    margin-top: 5px;
    line-height: 1;
}
